.header {
  overflow: hidden;
  background-color: #6e6e6e;
  padding: 20px 10px;
}

.header .logo, .header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 30px;
}

.header .logo {
  float: left;
  font-size: 30px;
  font-weight: bold;
}

.header-right a{
  float: right;
  padding: 10px;
  font-size: 20px;
}

