.cart-item {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box{
    text-align: center;
}

.prices{
    font-size: 1.2rem;
}

.qty-input {
    width: 50px;
    font-size: 1.2rem;
    text-align: center;
}

.remove {
    margin: 10px;
    padding: 7px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 15px;
    background-color: #8f8f8f;
    border: none;
    cursor: pointer;
}